.main {
    margin: 2px;
    padding: 1px 2px;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
}

p {
    margin-bottom: 4px;
}

[class*="-highlight"] {
    margin: 5px;
    padding: 1px 4px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
}

.radical-img-highlight {
    width: 35px;
    height: 35px;
    background-color: #00a1f1;
}

.radical-highlight {
    background-color: #00a1f1;
    /* background-image: -moz-linear-gradient(top, #0af, #0093dd);
    background-image: -o-linear-gradient(top, #0af, #0093dd); */
}

.kanji-highlight {
    background-color: #f100a1;
    /*background-image: -moz-linear-gradient(top, #f0a, #dd0093);
    background-image: -o-linear-gradient(top, #f0a, #dd0093); */
}

.vocabulary-highlight {
    background-color: #a100f1;
    /*background-image: -moz-linear-gradient(top, #a0f, #9300dd);
    background-image: -o-linear-gradient(top, #a0f, #9300dd); */
}

.burned-highlight {
    background-color: #474747;
}

/* sidebar */
.sidebar {
    margin: 10px;
    padding: 0px;
}

/* Checkbox */
.check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }